
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Home page</title>
</head>
<body>
<div class="row mt-1" style="height:80px;">
  <div class="col-3 d-none col-md-3 d-md-block"></div>
  <div class="col-12 col-md-6 bg-danger d-flex justify-content-center align-items-center text-light">
    <div class="big">Recipe-Place</div>
  </div>
</div>

<body>

<div class="row mt-1" style="height:80px;">
  <div class="col-3 d-none col-md-3 d-md-block"></div>
  <div class="col-12 col-md-6 bg-danger d-flex justify-content-center align-items-center text-light">
    I tried to make this really cool and have mult pages
    <a href="/MashUp">click here to go to mashup</a>
  </div>
</div>


</body>
<router-outlet></router-outlet>
